@for (article of articles; track article.id) {
<a [routerLink]="['/article', article.id]">

    <div class="mx-auto max-w-7xl bg-white p-5">
        <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
          <article class="overflow-hidden rounded-2xl border border-gray-200 transition-all duration-300 hover:scale-[102%]">
            <a href="#" class="block">
              <div class="p-5">
                <h2 class="text-2xl">{{article.title}}</h2>
                <p class="line-clamp-3">{{article.resume}}</p>
            </div>
            </a>
          </article>
        </div>
    </div>    
</a>
}

<a [routerLink]="['/article/new']">

  <div class="mx-auto max-w-7xl bg-white p-5">
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Ajouter un article
      </button>
    </div>
  </div> 
</a>
